/*!
 * Based on Materialize v0.95.2
 * Farmize is designed specifically for the State Farm Brand
 * LICENSE NEEDED
 * Developed by Alex Helton (p5y2)
 */

/*******************************************************************/
/*                                                                 */
/*                     All SF Colors for 2015                      */
/*                                                                 */
/*******************************************************************/

/*******************************************************************/
/* sf-black */
/*******************************************************************/

.sf-black-text.text-accent-1{color:#0;}
.sf-black-text.text-accent-2{color:#0;}
.sf-black-text.text-accent-3{color:#0;}
.sf-black-text.text-accent-4{color:#0;}
.sf-black-text.text-darken-1{color:#0;}
.sf-black-text.text-darken-2{color:#0;}
.sf-black-text.text-darken-3{color:#0;}
.sf-black-text.text-darken-4{color:#0;}
.sf-black-text.text-lighten-1{color:#0;}
.sf-black-text.text-lighten-2{color:#0;}
.sf-black-text.text-lighten-3{color:#0;}
.sf-black-text.text-lighten-4{color:#0;}
.sf-black-text.text-lighten-5{color:#0;}
.sf-black-text{color:#000000;}
.sf-black.accent-1{background-color:#0;}
.sf-black.accent-2{background-color:#0;}
.sf-black.accent-3{background-color:#0;}
.sf-black.accent-4{background-color:#0;}
.sf-black.darken-1{background-color:#0;}
.sf-black.darken-2{background-color:#0;}
.sf-black.darken-3{background-color:#0;}
.sf-black.darken-4{background-color:#0;}
.sf-black.lighten-1{background-color:#0;}
.sf-black.lighten-2{background-color:#0;}
.sf-black.lighten-3{background-color:#0;}
.sf-black.lighten-4{background-color:#0;}
.sf-black.lighten-5{background-color:#0;}
.sf-black{background-color:#000000;}

/*******************************************************************/
/* sf-blue */
/*******************************************************************/

.sf-blue-text.text-accent-1{color:#0;}
.sf-blue-text.text-accent-2{color:#0;}
.sf-blue-text.text-accent-3{color:#0;}
.sf-blue-text.text-accent-4{color:#0;}
.sf-blue-text.text-darken-1{color:#0;}
.sf-blue-text.text-darken-2{color:#0;}
.sf-blue-text.text-darken-3{color:#0;}
.sf-blue-text.text-darken-4{color:#0;}
.sf-blue-text.text-lighten-1{color:#0;}
.sf-blue-text.text-lighten-2{color:#0;}
.sf-blue-text.text-lighten-3{color:#0;}
.sf-blue-text.text-lighten-4{color:#0;}
.sf-blue-text.text-lighten-5{color:#0;}
.sf-blue-text{color:#4994cd;}
.sf-blue.accent-1{background-color:#0;}
.sf-blue.accent-2{background-color:#0;}
.sf-blue.accent-3{background-color:#0;}
.sf-blue.accent-4{background-color:#0;}
.sf-blue.darken-1{background-color:#0;}
.sf-blue.darken-2{background-color:#0;}
.sf-blue.darken-3{background-color:#0;}
.sf-blue.darken-4{background-color:#0;}
.sf-blue.lighten-1{background-color:#0;}
.sf-blue.lighten-2{background-color:#0;}
.sf-blue.lighten-3{background-color:#0;}
.sf-blue.lighten-4{background-color:#0;}
.sf-blue.lighten-5{background-color:#0;}
.sf-blue{background-color:#4994cd;}

/*******************************************************************/
/* sf-brown */
/*******************************************************************/

.sf-brown-text.text-accent-1{color:#0;}
.sf-brown-text.text-accent-2{color:#0;}
.sf-brown-text.text-accent-3{color:#0;}
.sf-brown-text.text-accent-4{color:#0;}
.sf-brown-text.text-darken-1{color:#0;}
.sf-brown-text.text-darken-2{color:#0;}
.sf-brown-text.text-darken-3{color:#0;}
.sf-brown-text.text-darken-4{color:#0;}
.sf-brown-text.text-lighten-1{color:#0;}
.sf-brown-text.text-lighten-2{color:#0;}
.sf-brown-text.text-lighten-3{color:#0;}
.sf-brown-text.text-lighten-4{color:#0;}
.sf-brown-text.text-lighten-5{color:#0;}
.sf-brown-text{color:#c59468;}
.sf-brown.accent-1{background-color:#0;}
.sf-brown.accent-2{background-color:#0;}
.sf-brown.accent-3{background-color:#0;}
.sf-brown.accent-4{background-color:#0;}
.sf-brown.darken-1{background-color:#0;}
.sf-brown.darken-2{background-color:#0;}
.sf-brown.darken-3{background-color:#0;}
.sf-brown.darken-4{background-color:#0;}
.sf-brown.lighten-1{background-color:#0;}
.sf-brown.lighten-2{background-color:#0;}
.sf-brown.lighten-3{background-color:#0;}
.sf-brown.lighten-4{background-color:#0;}
.sf-brown.lighten-5{background-color:#0;}
.sf-brown{background-color:#c59468;}

/*******************************************************************/
/* sf-coolGreen */
/*******************************************************************/

.sf-coolGreen-text.text-accent-1{color:#0;}
.sf-coolGreen-text.text-accent-2{color:#0;}
.sf-coolGreen-text.text-accent-3{color:#0;}
.sf-coolGreen-text.text-accent-4{color:#0;}
.sf-coolGreen-text.text-darken-1{color:#0;}
.sf-coolGreen-text.text-darken-2{color:#0;}
.sf-coolGreen-text.text-darken-3{color:#0;}
.sf-coolGreen-text.text-darken-4{color:#0;}
.sf-coolGreen-text.text-lighten-1{color:#0;}
.sf-coolGreen-text.text-lighten-2{color:#0;}
.sf-coolGreen-text.text-lighten-3{color:#0;}
.sf-coolGreen-text.text-lighten-4{color:#0;}
.sf-coolGreen-text.text-lighten-5{color:#0;}
.sf-coolGreen-text{color:#4ba5a7;}
.sf-coolGreen.accent-1{background-color:#0;}
.sf-coolGreen.accent-2{background-color:#0;}
.sf-coolGreen.accent-3{background-color:#0;}
.sf-coolGreen.accent-4{background-color:#0;}
.sf-coolGreen.darken-1{background-color:#0;}
.sf-coolGreen.darken-2{background-color:#0;}
.sf-coolGreen.darken-3{background-color:#0;}
.sf-coolGreen.darken-4{background-color:#0;}
.sf-coolGreen.lighten-1{background-color:#0;}
.sf-coolGreen.lighten-2{background-color:#0;}
.sf-coolGreen.lighten-3{background-color:#0;}
.sf-coolGreen.lighten-4{background-color:#0;}
.sf-coolGreen.lighten-5{background-color:#0;}
.sf-coolGreen{background-color:#4ba5a7;}

/*******************************************************************/
/* sf-gray */
/*******************************************************************/

.sf-gray-text.text-accent-1{color:#0;}
.sf-gray-text.text-accent-2{color:#0;}
.sf-gray-text.text-accent-3{color:#0;}
.sf-gray-text.text-accent-4{color:#0;}
.sf-gray-text.text-darken-1{color:#0;}
.sf-gray-text.text-darken-2{color:#0;}
.sf-gray-text.text-darken-3{color:#0;}
.sf-gray-text.text-darken-4{color:#0;}
.sf-gray-text.text-lighten-1{color:#0;}
.sf-gray-text.text-lighten-2{color:#0;}
.sf-gray-text.text-lighten-3{color:#0;}
.sf-gray-text.text-lighten-4{color:#0;}
.sf-gray-text.text-lighten-5{color:#0;}
.sf-gray-text{color:#666366;}
.sf-gray.accent-1{background-color:#0;}
.sf-gray.accent-2{background-color:#0;}
.sf-gray.accent-3{background-color:#0;}
.sf-gray.accent-4{background-color:#0;}
.sf-gray.darken-1{background-color:#0;}
.sf-gray.darken-2{background-color:#0;}
.sf-gray.darken-3{background-color:#0;}
.sf-gray.darken-4{background-color:#0;}
.sf-gray.lighten-1{background-color:#0;}
.sf-gray.lighten-2{background-color:#0;}
.sf-gray.lighten-3{background-color:#0;}
.sf-gray.lighten-4{background-color:#0;}
.sf-gray.lighten-5{background-color:#0;}
.sf-gray{background-color:#666366;}

/*******************************************************************/
/* sf-gray1 */
/*******************************************************************/

.sf-gray1-text.text-accent-1{color:#0;}
.sf-gray1-text.text-accent-2{color:#0;}
.sf-gray1-text.text-accent-3{color:#0;}
.sf-gray1-text.text-accent-4{color:#0;}
.sf-gray1-text.text-darken-1{color:#0;}
.sf-gray1-text.text-darken-2{color:#0;}
.sf-gray1-text.text-darken-3{color:#0;}
.sf-gray1-text.text-darken-4{color:#0;}
.sf-gray1-text.text-lighten-1{color:#0;}
.sf-gray1-text.text-lighten-2{color:#0;}
.sf-gray1-text.text-lighten-3{color:#0;}
.sf-gray1-text.text-lighten-4{color:#0;}
.sf-gray1-text.text-lighten-5{color:#0;}
.sf-gray1-text{color:#ededed;}
.sf-gray1.accent-1{background-color:#0;}
.sf-gray1.accent-2{background-color:#0;}
.sf-gray1.accent-3{background-color:#0;}
.sf-gray1.accent-4{background-color:#0;}
.sf-gray1.darken-1{background-color:#0;}
.sf-gray1.darken-2{background-color:#0;}
.sf-gray1.darken-3{background-color:#0;}
.sf-gray1.darken-4{background-color:#0;}
.sf-gray1.lighten-1{background-color:#0;}
.sf-gray1.lighten-2{background-color:#0;}
.sf-gray1.lighten-3{background-color:#0;}
.sf-gray1.lighten-4{background-color:#0;}
.sf-gray1.lighten-5{background-color:#0;}
.sf-gray1{background-color:#ededed;}

/*******************************************************************/
/* sf-gray2 */
/*******************************************************************/

.sf-gray2-text.text-accent-1{color:#0;}
.sf-gray2-text.text-accent-2{color:#0;}
.sf-gray2-text.text-accent-3{color:#0;}
.sf-gray2-text.text-accent-4{color:#0;}
.sf-gray2-text.text-darken-1{color:#0;}
.sf-gray2-text.text-darken-2{color:#0;}
.sf-gray2-text.text-darken-3{color:#0;}
.sf-gray2-text.text-darken-4{color:#0;}
.sf-gray2-text.text-lighten-1{color:#0;}
.sf-gray2-text.text-lighten-2{color:#0;}
.sf-gray2-text.text-lighten-3{color:#0;}
.sf-gray2-text.text-lighten-4{color:#0;}
.sf-gray2-text.text-lighten-5{color:#0;}
.sf-gray2-text{color:#dcdcdc;}
.sf-gray2.accent-1{background-color:#0;}
.sf-gray2.accent-2{background-color:#0;}
.sf-gray2.accent-3{background-color:#0;}
.sf-gray2.accent-4{background-color:#0;}
.sf-gray2.darken-1{background-color:#0;}
.sf-gray2.darken-2{background-color:#0;}
.sf-gray2.darken-3{background-color:#0;}
.sf-gray2.darken-4{background-color:#0;}
.sf-gray2.lighten-1{background-color:#0;}
.sf-gray2.lighten-2{background-color:#0;}
.sf-gray2.lighten-3{background-color:#0;}
.sf-gray2.lighten-4{background-color:#0;}
.sf-gray2.lighten-5{background-color:#0;}
.sf-gray2{background-color:#dcdcdc;}

/*******************************************************************/
/* sf-gray3 */
/*******************************************************************/

.sf-gray3-text.text-accent-1{color:#0;}
.sf-gray3-text.text-accent-2{color:#0;}
.sf-gray3-text.text-accent-3{color:#0;}
.sf-gray3-text.text-accent-4{color:#0;}
.sf-gray3-text.text-darken-1{color:#0;}
.sf-gray3-text.text-darken-2{color:#0;}
.sf-gray3-text.text-darken-3{color:#0;}
.sf-gray3-text.text-darken-4{color:#0;}
.sf-gray3-text.text-lighten-1{color:#0;}
.sf-gray3-text.text-lighten-2{color:#0;}
.sf-gray3-text.text-lighten-3{color:#0;}
.sf-gray3-text.text-lighten-4{color:#0;}
.sf-gray3-text.text-lighten-5{color:#0;}
.sf-gray3-text{color:#c5c5c5;}
.sf-gray3.accent-1{background-color:#0;}
.sf-gray3.accent-2{background-color:#0;}
.sf-gray3.accent-3{background-color:#0;}
.sf-gray3.accent-4{background-color:#0;}
.sf-gray3.darken-1{background-color:#0;}
.sf-gray3.darken-2{background-color:#0;}
.sf-gray3.darken-3{background-color:#0;}
.sf-gray3.darken-4{background-color:#0;}
.sf-gray3.lighten-1{background-color:#0;}
.sf-gray3.lighten-2{background-color:#0;}
.sf-gray3.lighten-3{background-color:#0;}
.sf-gray3.lighten-4{background-color:#0;}
.sf-gray3.lighten-5{background-color:#0;}
.sf-gray3{background-color:#c5c5c5;}

/*******************************************************************/
/* sf-gray4 */
/*******************************************************************/

.sf-gray4-text.text-accent-1{color:#0;}
.sf-gray4-text.text-accent-2{color:#0;}
.sf-gray4-text.text-accent-3{color:#0;}
.sf-gray4-text.text-accent-4{color:#0;}
.sf-gray4-text.text-darken-1{color:#0;}
.sf-gray4-text.text-darken-2{color:#0;}
.sf-gray4-text.text-darken-3{color:#0;}
.sf-gray4-text.text-darken-4{color:#0;}
.sf-gray4-text.text-lighten-1{color:#0;}
.sf-gray4-text.text-lighten-2{color:#0;}
.sf-gray4-text.text-lighten-3{color:#0;}
.sf-gray4-text.text-lighten-4{color:#0;}
.sf-gray4-text.text-lighten-5{color:#0;}
.sf-gray4-text{color:#ababab;}
.sf-gray4.accent-1{background-color:#0;}
.sf-gray4.accent-2{background-color:#0;}
.sf-gray4.accent-3{background-color:#0;}
.sf-gray4.accent-4{background-color:#0;}
.sf-gray4.darken-1{background-color:#0;}
.sf-gray4.darken-2{background-color:#0;}
.sf-gray4.darken-3{background-color:#0;}
.sf-gray4.darken-4{background-color:#0;}
.sf-gray4.lighten-1{background-color:#0;}
.sf-gray4.lighten-2{background-color:#0;}
.sf-gray4.lighten-3{background-color:#0;}
.sf-gray4.lighten-4{background-color:#0;}
.sf-gray4.lighten-5{background-color:#0;}
.sf-gray4{background-color:#ababab;}

/*******************************************************************/
/* sf-gray5 */
/*******************************************************************/

.sf-gray5-text.text-accent-1{color:#0;}
.sf-gray5-text.text-accent-2{color:#0;}
.sf-gray5-text.text-accent-3{color:#0;}
.sf-gray5-text.text-accent-4{color:#0;}
.sf-gray5-text.text-darken-1{color:#0;}
.sf-gray5-text.text-darken-2{color:#0;}
.sf-gray5-text.text-darken-3{color:#0;}
.sf-gray5-text.text-darken-4{color:#0;}
.sf-gray5-text.text-lighten-1{color:#0;}
.sf-gray5-text.text-lighten-2{color:#0;}
.sf-gray5-text.text-lighten-3{color:#0;}
.sf-gray5-text.text-lighten-4{color:#0;}
.sf-gray5-text.text-lighten-5{color:#0;}
.sf-gray5-text{color:#3f3f3f;}
.sf-gray5.accent-1{background-color:#0;}
.sf-gray5.accent-2{background-color:#0;}
.sf-gray5.accent-3{background-color:#0;}
.sf-gray5.accent-4{background-color:#0;}
.sf-gray5.darken-1{background-color:#0;}
.sf-gray5.darken-2{background-color:#0;}
.sf-gray5.darken-3{background-color:#0;}
.sf-gray5.darken-4{background-color:#0;}
.sf-gray5.lighten-1{background-color:#0;}
.sf-gray5.lighten-2{background-color:#0;}
.sf-gray5.lighten-3{background-color:#0;}
.sf-gray5.lighten-4{background-color:#0;}
.sf-gray5.lighten-5{background-color:#0;}
.sf-gray5{background-color:#3f3f3f;}

/*******************************************************************/
/* sf-grayBeige */
/*******************************************************************/

.sf-grayBeige-text.text-accent-1{color:#0;}
.sf-grayBeige-text.text-accent-2{color:#0;}
.sf-grayBeige-text.text-accent-3{color:#0;}
.sf-grayBeige-text.text-accent-4{color:#0;}
.sf-grayBeige-text.text-darken-1{color:#0;}
.sf-grayBeige-text.text-darken-2{color:#0;}
.sf-grayBeige-text.text-darken-3{color:#0;}
.sf-grayBeige-text.text-darken-4{color:#0;}
.sf-grayBeige-text.text-lighten-1{color:#0;}
.sf-grayBeige-text.text-lighten-2{color:#0;}
.sf-grayBeige-text.text-lighten-3{color:#0;}
.sf-grayBeige-text.text-lighten-4{color:#0;}
.sf-grayBeige-text.text-lighten-5{color:#0;}
.sf-grayBeige-text{color:#a89988;}
.sf-grayBeige.accent-1{background-color:#0;}
.sf-grayBeige.accent-2{background-color:#0;}
.sf-grayBeige.accent-3{background-color:#0;}
.sf-grayBeige.accent-4{background-color:#0;}
.sf-grayBeige.darken-1{background-color:#0;}
.sf-grayBeige.darken-2{background-color:#0;}
.sf-grayBeige.darken-3{background-color:#0;}
.sf-grayBeige.darken-4{background-color:#0;}
.sf-grayBeige.lighten-1{background-color:#0;}
.sf-grayBeige.lighten-2{background-color:#0;}
.sf-grayBeige.lighten-3{background-color:#0;}
.sf-grayBeige.lighten-4{background-color:#0;}
.sf-grayBeige.lighten-5{background-color:#0;}
.sf-grayBeige{background-color:#a89988;}

/*******************************************************************/
/* sf-green */
/*******************************************************************/

.sf-green-text.text-accent-1{color:#0;}
.sf-green-text.text-accent-2{color:#0;}
.sf-green-text.text-accent-3{color:#0;}
.sf-green-text.text-accent-4{color:#0;}
.sf-green-text.text-darken-1{color:#0;}
.sf-green-text.text-darken-2{color:#0;}
.sf-green-text.text-darken-3{color:#0;}
.sf-green-text.text-darken-4{color:#0;}
.sf-green-text.text-lighten-1{color:#0;}
.sf-green-text.text-lighten-2{color:#0;}
.sf-green-text.text-lighten-3{color:#0;}
.sf-green-text.text-lighten-4{color:#0;}
.sf-green-text.text-lighten-5{color:#0;}
.sf-green-text{color:#0d9e49;}
.sf-green.accent-1{background-color:#0;}
.sf-green.accent-2{background-color:#0;}
.sf-green.accent-3{background-color:#0;}
.sf-green.accent-4{background-color:#0;}
.sf-green.darken-1{background-color:#0;}
.sf-green.darken-2{background-color:#0;}
.sf-green.darken-3{background-color:#0;}
.sf-green.darken-4{background-color:#0;}
.sf-green.lighten-1{background-color:#0;}
.sf-green.lighten-2{background-color:#0;}
.sf-green.lighten-3{background-color:#0;}
.sf-green.lighten-4{background-color:#0;}
.sf-green.lighten-5{background-color:#0;}
.sf-green{background-color:#0d9e49;}


/*******************************************************************/
/* sf-grayViolet */
/*******************************************************************/

.sf-greyViolet-text.text-accent-1{color:#0;}
.sf-greyViolet-text.text-accent-2{color:#0;}
.sf-greyViolet-text.text-accent-3{color:#0;}
.sf-greyViolet-text.text-accent-4{color:#0;}
.sf-greyViolet-text.text-darken-1{color:#0;}
.sf-greyViolet-text.text-darken-2{color:#0;}
.sf-greyViolet-text.text-darken-3{color:#0;}
.sf-greyViolet-text.text-darken-4{color:#0;}
.sf-greyViolet-text.text-lighten-1{color:#0;}
.sf-greyViolet-text.text-lighten-2{color:#0;}
.sf-greyViolet-text.text-lighten-3{color:#0;}
.sf-greyViolet-text.text-lighten-4{color:#0;}
.sf-greyViolet-text.text-lighten-5{color:#0;}
.sf-greyViolet-text{color:#a48da7;}
.sf-greyViolet.accent-1{background-color:#0;}
.sf-greyViolet.accent-2{background-color:#0;}
.sf-greyViolet.accent-3{background-color:#0;}
.sf-greyViolet.accent-4{background-color:#0;}
.sf-greyViolet.darken-1{background-color:#0;}
.sf-greyViolet.darken-2{background-color:#0;}
.sf-greyViolet.darken-3{background-color:#0;}
.sf-greyViolet.darken-4{background-color:#0;}
.sf-greyViolet.lighten-1{background-color:#0;}
.sf-greyViolet.lighten-2{background-color:#0;}
.sf-greyViolet.lighten-3{background-color:#0;}
.sf-greyViolet.lighten-4{background-color:#0;}
.sf-greyViolet.lighten-5{background-color:#0;}
.sf-greyViolet{background-color:#a48da7;}

/*******************************************************************/
/* sf-mediumGray */
/*******************************************************************/

.sf-mediumGray-text.text-accent-1{color:#0;}
.sf-mediumGray-text.text-accent-2{color:#0;}
.sf-mediumGray-text.text-accent-3{color:#0;}
.sf-mediumGray-text.text-accent-4{color:#0;}
.sf-mediumGray-text.text-darken-1{color:#0;}
.sf-mediumGray-text.text-darken-2{color:#0;}
.sf-mediumGray-text.text-darken-3{color:#0;}
.sf-mediumGray-text.text-darken-4{color:#0;}
.sf-mediumGray-text.text-lighten-1{color:#0;}
.sf-mediumGray-text.text-lighten-2{color:#0;}
.sf-mediumGray-text.text-lighten-3{color:#0;}
.sf-mediumGray-text.text-lighten-4{color:#0;}
.sf-mediumGray-text.text-lighten-5{color:#0;}
.sf-mediumGray-text{color:#adb9c0;}
.sf-mediumGray.accent-1{background-color:#0;}
.sf-mediumGray.accent-2{background-color:#0;}
.sf-mediumGray.accent-3{background-color:#0;}
.sf-mediumGray.accent-4{background-color:#0;}
.sf-mediumGray.darken-1{background-color:#0;}
.sf-mediumGray.darken-2{background-color:#0;}
.sf-mediumGray.darken-3{background-color:#0;}
.sf-mediumGray.darken-4{background-color:#0;}
.sf-mediumGray.lighten-1{background-color:#0;}
.sf-mediumGray.lighten-2{background-color:#0;}
.sf-mediumGray.lighten-3{background-color:#0;}
.sf-mediumGray.lighten-4{background-color:#0;}
.sf-mediumGray.lighten-5{background-color:#0;}
.sf-mediumGray{background-color:#adb9c0;}

/*******************************************************************/
/* sf-ochre */
/*******************************************************************/

.sf-ochre-text.text-accent-1{color:#0;}
.sf-ochre-text.text-accent-2{color:#0;}
.sf-ochre-text.text-accent-3{color:#0;}
.sf-ochre-text.text-accent-4{color:#0;}
.sf-ochre-text.text-darken-1{color:#0;}
.sf-ochre-text.text-darken-2{color:#0;}
.sf-ochre-text.text-darken-3{color:#0;}
.sf-ochre-text.text-darken-4{color:#0;}
.sf-ochre-text.text-lighten-1{color:#0;}
.sf-ochre-text.text-lighten-2{color:#0;}
.sf-ochre-text.text-lighten-3{color:#0;}
.sf-ochre-text.text-lighten-4{color:#0;}
.sf-ochre-text.text-lighten-5{color:#0;}
.sf-ochre-text{color:#c2a268;}
.sf-ochre.accent-1{background-color:#0;}
.sf-ochre.accent-2{background-color:#0;}
.sf-ochre.accent-3{background-color:#0;}
.sf-ochre.accent-4{background-color:#0;}
.sf-ochre.darken-1{background-color:#0;}
.sf-ochre.darken-2{background-color:#0;}
.sf-ochre.darken-3{background-color:#0;}
.sf-ochre.darken-4{background-color:#0;}
.sf-ochre.lighten-1{background-color:#0;}
.sf-ochre.lighten-2{background-color:#0;}
.sf-ochre.lighten-3{background-color:#0;}
.sf-ochre.lighten-4{background-color:#0;}
.sf-ochre.lighten-5{background-color:#0;}
.sf-ochre{background-color:#c2a268;}

/*******************************************************************/
/* sf-orange */
/*******************************************************************/

.sf-orange-text.text-accent-1{color:#0;}
.sf-orange-text.text-accent-2{color:#0;}
.sf-orange-text.text-accent-3{color:#0;}
.sf-orange-text.text-accent-4{color:#0;}
.sf-orange-text.text-darken-1{color:#0;}
.sf-orange-text.text-darken-2{color:#0;}
.sf-orange-text.text-darken-3{color:#0;}
.sf-orange-text.text-darken-4{color:#0;}
.sf-orange-text.text-lighten-1{color:#0;}
.sf-orange-text.text-lighten-2{color:#0;}
.sf-orange-text.text-lighten-3{color:#0;}
.sf-orange-text.text-lighten-4{color:#0;}
.sf-orange-text.text-lighten-5{color:#0;}
.sf-orange-text{color:#f3901d;}
.sf-orange.accent-1{background-color:#0;}
.sf-orange.accent-2{background-color:#0;}
.sf-orange.accent-3{background-color:#0;}
.sf-orange.accent-4{background-color:#0;}
.sf-orange.darken-1{background-color:#0;}
.sf-orange.darken-2{background-color:#0;}
.sf-orange.darken-3{background-color:#0;}
.sf-orange.darken-4{background-color:#0;}
.sf-orange.lighten-1{background-color:#0;}
.sf-orange.lighten-2{background-color:#0;}
.sf-orange.lighten-3{background-color:#0;}
.sf-orange.lighten-4{background-color:#0;}
.sf-orange.lighten-5{background-color:#0;}
.sf-orange{background-color:#f3901d;}

/*******************************************************************/
/* sf-purple */
/*******************************************************************/

.sf-purple-text.text-accent-1{color:#0;}
.sf-purple-text.text-accent-2{color:#0;}
.sf-purple-text.text-accent-3{color:#0;}
.sf-purple-text.text-accent-4{color:#0;}
.sf-purple-text.text-darken-1{color:#0;}
.sf-purple-text.text-darken-2{color:#0;}
.sf-purple-text.text-darken-3{color:#0;}
.sf-purple-text.text-darken-4{color:#0;}
.sf-purple-text.text-lighten-1{color:#0;}
.sf-purple-text.text-lighten-2{color:#0;}
.sf-purple-text.text-lighten-3{color:#0;}
.sf-purple-text.text-lighten-4{color:#0;}
.sf-purple-text.text-lighten-5{color:#0;}
.sf-purple-text{color:#542988;}
.sf-purple.accent-1{background-color:#0;}
.sf-purple.accent-2{background-color:#0;}
.sf-purple.accent-3{background-color:#0;}
.sf-purple.accent-4{background-color:#0;}
.sf-purple.darken-1{background-color:#0;}
.sf-purple.darken-2{background-color:#0;}
.sf-purple.darken-3{background-color:#0;}
.sf-purple.darken-4{background-color:#0;}
.sf-purple.lighten-1{background-color:#0;}
.sf-purple.lighten-2{background-color:#0;}
.sf-purple.lighten-3{background-color:#0;}
.sf-purple.lighten-4{background-color:#0;}
.sf-purple.lighten-5{background-color:#0;}
.sf-purple{background-color:#542988;}

//*******************************************************************/
/* sf-red */
/*******************************************************************/

.sf-red-text.text-accent-1{color:#0;}
.sf-red-text.text-accent-2{color:#0;}
.sf-red-text.text-accent-3{color:#0;}
.sf-red-text.text-accent-4{color:#0;}
.sf-red-text.text-darken-1{color:#0;}
.sf-red-text.text-darken-2{color:#0;}
.sf-red-text.text-darken-3{color:#0;}
.sf-red-text.text-darken-4{color:#0;}
.sf-red-text.text-lighten-1{color:#0;}
.sf-red-text.text-lighten-2{color:#0;}
.sf-red-text.text-lighten-3{color:#0;}
.sf-red-text.text-lighten-4{color:#0;}
.sf-red-text.text-lighten-5{color:#0;}
.sf-red-text{color:#cc0717;}
.sf-red.accent-1{background-color:#0;}
.sf-red.accent-2{background-color:#0;}
.sf-red.accent-3{background-color:#0;}
.sf-red.accent-4{background-color:#0;}
.sf-red.darken-1{background-color:#0;}
.sf-red.darken-2{background-color:#0;}
.sf-red.darken-3{background-color:#0;}
.sf-red.darken-4{background-color:#0;}
.sf-red.lighten-1{background-color:#0;}
.sf-red.lighten-2{background-color:#0;}
.sf-red.lighten-3{background-color:#0;}
.sf-red.lighten-4{background-color:#0;}
.sf-red.lighten-5{background-color:#0;}
.sf-red{background-color:#cc0717;}

/*******************************************************************/
/* sf-sysBlue */
/*******************************************************************/

.sf-sysBlue-text.text-accent-1{color:#0;}
.sf-sysBlue-text.text-accent-2{color:#0;}
.sf-sysBlue-text.text-accent-3{color:#0;}
.sf-sysBlue-text.text-accent-4{color:#0;}
.sf-sysBlue-text.text-darken-1{color:#0;}
.sf-sysBlue-text.text-darken-2{color:#0;}
.sf-sysBlue-text.text-darken-3{color:#0;}
.sf-sysBlue-text.text-darken-4{color:#0;}
.sf-sysBlue-text.text-lighten-1{color:#0;}
.sf-sysBlue-text.text-lighten-2{color:#0;}
.sf-sysBlue-text.text-lighten-3{color:#0;}
.sf-sysBlue-text.text-lighten-4{color:#0;}
.sf-sysBlue-text.text-lighten-5{color:#0;}
.sf-sysBlue-text{color:#0a70bc;}
.sf-sysBlue.accent-1{background-color:#0;}
.sf-sysBlue.accent-2{background-color:#0;}
.sf-sysBlue.accent-3{background-color:#0;}
.sf-sysBlue.accent-4{background-color:#0;}
.sf-sysBlue.darken-1{background-color:#0;}
.sf-sysBlue.darken-2{background-color:#0;}
.sf-sysBlue.darken-3{background-color:#0;}
.sf-sysBlue.darken-4{background-color:#0;}
.sf-sysBlue.lighten-1{background-color:#0;}
.sf-sysBlue.lighten-2{background-color:#0;}
.sf-sysBlue.lighten-3{background-color:#0;}
.sf-sysBlue.lighten-4{background-color:#0;}
.sf-sysBlue.lighten-5{background-color:#0;}
.sf-sysBlue{background-color:#0a70bc;}

/*******************************************************************/
/* sf-sysDarkBlue */
/*******************************************************************/

.sf-sysDarkBlue-text.text-accent-1{color:#0;}
.sf-sysDarkBlue-text.text-accent-2{color:#0;}
.sf-sysDarkBlue-text.text-accent-3{color:#0;}
.sf-sysDarkBlue-text.text-accent-4{color:#0;}
.sf-sysDarkBlue-text.text-darken-1{color:#0;}
.sf-sysDarkBlue-text.text-darken-2{color:#0;}
.sf-sysDarkBlue-text.text-darken-3{color:#0;}
.sf-sysDarkBlue-text.text-darken-4{color:#0;}
.sf-sysDarkBlue-text.text-lighten-1{color:#0;}
.sf-sysDarkBlue-text.text-lighten-2{color:#0;}
.sf-sysDarkBlue-text.text-lighten-3{color:#0;}
.sf-sysDarkBlue-text.text-lighten-4{color:#0;}
.sf-sysDarkBlue-text.text-lighten-5{color:#0;}
.sf-sysDarkBlue-text{color:#003a65;}
.sf-sysDarkBlue.accent-1{background-color:#0;}
.sf-sysDarkBlue.accent-2{background-color:#0;}
.sf-sysDarkBlue.accent-3{background-color:#0;}
.sf-sysDarkBlue.accent-4{background-color:#0;}
.sf-sysDarkBlue.darken-1{background-color:#0;}
.sf-sysDarkBlue.darken-2{background-color:#0;}
.sf-sysDarkBlue.darken-3{background-color:#0;}
.sf-sysDarkBlue.darken-4{background-color:#0;}
.sf-sysDarkBlue.lighten-1{background-color:#0;}
.sf-sysDarkBlue.lighten-2{background-color:#0;}
.sf-sysDarkBlue.lighten-3{background-color:#0;}
.sf-sysDarkBlue.lighten-4{background-color:#0;}
.sf-sysDarkBlue.lighten-5{background-color:#0;}
.sf-sysDarkBlue{background-color:#003a65;}

/*******************************************************************/
/* sf-sysGreen */
/*******************************************************************/

.sf-sysGreen-text.text-accent-1{color:#0;}
.sf-sysGreen-text.text-accent-2{color:#0;}
.sf-sysGreen-text.text-accent-3{color:#0;}
.sf-sysGreen-text.text-accent-4{color:#0;}
.sf-sysGreen-text.text-darken-1{color:#0;}
.sf-sysGreen-text.text-darken-2{color:#0;}
.sf-sysGreen-text.text-darken-3{color:#0;}
.sf-sysGreen-text.text-darken-4{color:#0;}
.sf-sysGreen-text.text-lighten-1{color:#0;}
.sf-sysGreen-text.text-lighten-2{color:#0;}
.sf-sysGreen-text.text-lighten-3{color:#0;}
.sf-sysGreen-text.text-lighten-4{color:#0;}
.sf-sysGreen-text.text-lighten-5{color:#0;}
.sf-sysGreen-text{color:#0eb034;}
.sf-sysGreen.accent-1{background-color:#0;}
.sf-sysGreen.accent-2{background-color:#0;}
.sf-sysGreen.accent-3{background-color:#0;}
.sf-sysGreen.accent-4{background-color:#0;}
.sf-sysGreen.darken-1{background-color:#0;}
.sf-sysGreen.darken-2{background-color:#0;}
.sf-sysGreen.darken-3{background-color:#0;}
.sf-sysGreen.darken-4{background-color:#0;}
.sf-sysGreen.lighten-1{background-color:#0;}
.sf-sysGreen.lighten-2{background-color:#0;}
.sf-sysGreen.lighten-3{background-color:#0;}
.sf-sysGreen.lighten-4{background-color:#0;}
.sf-sysGreen.lighten-5{background-color:#0;}
.sf-sysGreen{background-color:#0eb034;}

/*******************************************************************/
/* sf-sysRed */
/*******************************************************************/

.sf-sysRed-text.text-accent-1{color:#0;}
.sf-sysRed-text.text-accent-2{color:#0;}
.sf-sysRed-text.text-accent-3{color:#0;}
.sf-sysRed-text.text-accent-4{color:#0;}
.sf-sysRed-text.text-darken-1{color:#0;}
.sf-sysRed-text.text-darken-2{color:#0;}
.sf-sysRed-text.text-darken-3{color:#0;}
.sf-sysRed-text.text-darken-4{color:#0;}
.sf-sysRed-text.text-lighten-1{color:#0;}
.sf-sysRed-text.text-lighten-2{color:#0;}
.sf-sysRed-text.text-lighten-3{color:#0;}
.sf-sysRed-text.text-lighten-4{color:#0;}
.sf-sysRed-text.text-lighten-5{color:#0;}
.sf-sysRed-text{color:#a20102;}
.sf-sysRed.accent-1{background-color:#0;}
.sf-sysRed.accent-2{background-color:#0;}
.sf-sysRed.accent-3{background-color:#0;}
.sf-sysRed.accent-4{background-color:#0;}
.sf-sysRed.darken-1{background-color:#0;}
.sf-sysRed.darken-2{background-color:#0;}
.sf-sysRed.darken-3{background-color:#0;}
.sf-sysRed.darken-4{background-color:#0;}
.sf-sysRed.lighten-1{background-color:#0;}
.sf-sysRed.lighten-2{background-color:#0;}
.sf-sysRed.lighten-3{background-color:#0;}
.sf-sysRed.lighten-4{background-color:#0;}
.sf-sysRed.lighten-5{background-color:#0;}
.sf-sysRed{background-color:#a20102;}

/*******************************************************************/
/* sf-sysYellow1 */
/*******************************************************************/

.sf-sysYellow1-text.text-accent-1{color:#0;}
.sf-sysYellow1-text.text-accent-2{color:#0;}
.sf-sysYellow1-text.text-accent-3{color:#0;}
.sf-sysYellow1-text.text-accent-4{color:#0;}
.sf-sysYellow1-text.text-darken-1{color:#0;}
.sf-sysYellow1-text.text-darken-2{color:#0;}
.sf-sysYellow1-text.text-darken-3{color:#0;}
.sf-sysYellow1-text.text-darken-4{color:#0;}
.sf-sysYellow1-text.text-lighten-1{color:#0;}
.sf-sysYellow1-text.text-lighten-2{color:#0;}
.sf-sysYellow1-text.text-lighten-3{color:#0;}
.sf-sysYellow1-text.text-lighten-4{color:#0;}
.sf-sysYellow1-text.text-lighten-5{color:#0;}
.sf-sysYellow1-text{color:#fdf8d7;}
.sf-sysYellow1.accent-1{background-color:#0;}
.sf-sysYellow1.accent-2{background-color:#0;}
.sf-sysYellow1.accent-3{background-color:#0;}
.sf-sysYellow1.accent-4{background-color:#0;}
.sf-sysYellow1.darken-1{background-color:#0;}
.sf-sysYellow1.darken-2{background-color:#0;}
.sf-sysYellow1.darken-3{background-color:#0;}
.sf-sysYellow1.darken-4{background-color:#0;}
.sf-sysYellow1.lighten-1{background-color:#0;}
.sf-sysYellow1.lighten-2{background-color:#0;}
.sf-sysYellow1.lighten-3{background-color:#0;}
.sf-sysYellow1.lighten-4{background-color:#0;}
.sf-sysYellow1.lighten-5{background-color:#0;}
.sf-sysYellow1{background-color:#fdf8d7;}

/*******************************************************************/
/* sf-sysYellow2 */
/*******************************************************************/

.sf-sysYellow2-text.text-accent-1{color:#0;}
.sf-sysYellow2-text.text-accent-2{color:#0;}
.sf-sysYellow2-text.text-accent-3{color:#0;}
.sf-sysYellow2-text.text-accent-4{color:#0;}
.sf-sysYellow2-text.text-darken-1{color:#0;}
.sf-sysYellow2-text.text-darken-2{color:#0;}
.sf-sysYellow2-text.text-darken-3{color:#0;}
.sf-sysYellow2-text.text-darken-4{color:#0;}
.sf-sysYellow2-text.text-lighten-1{color:#0;}
.sf-sysYellow2-text.text-lighten-2{color:#0;}
.sf-sysYellow2-text.text-lighten-3{color:#0;}
.sf-sysYellow2-text.text-lighten-4{color:#0;}
.sf-sysYellow2-text.text-lighten-5{color:#0;}
.sf-sysYellow2-text{color:#fff001;}
.sf-sysYellow2.accent-1{background-color:#0;}
.sf-sysYellow2.accent-2{background-color:#0;}
.sf-sysYellow2.accent-3{background-color:#0;}
.sf-sysYellow2.accent-4{background-color:#0;}
.sf-sysYellow2.darken-1{background-color:#0;}
.sf-sysYellow2.darken-2{background-color:#0;}
.sf-sysYellow2.darken-3{background-color:#0;}
.sf-sysYellow2.darken-4{background-color:#0;}
.sf-sysYellow2.lighten-1{background-color:#0;}
.sf-sysYellow2.lighten-2{background-color:#0;}
.sf-sysYellow2.lighten-3{background-color:#0;}
.sf-sysYellow2.lighten-4{background-color:#0;}
.sf-sysYellow2.lighten-5{background-color:#0;}
.sf-sysYellow2{background-color:#fff001;}

/*******************************************************************/
/* sf-white */
/*******************************************************************/

.sf-white-text.text-accent-1{color:#0;}
.sf-white-text.text-accent-2{color:#0;}
.sf-white-text.text-accent-3{color:#0;}
.sf-white-text.text-accent-4{color:#0;}
.sf-white-text.text-darken-1{color:#0;}
.sf-white-text.text-darken-2{color:#0;}
.sf-white-text.text-darken-3{color:#0;}
.sf-white-text.text-darken-4{color:#0;}
.sf-white-text.text-lighten-1{color:#0;}
.sf-white-text.text-lighten-2{color:#0;}
.sf-white-text.text-lighten-3{color:#0;}
.sf-white-text.text-lighten-4{color:#0;}
.sf-white-text.text-lighten-5{color:#0;}
.sf-white-text{color:#ffffff;}
.sf-white.accent-1{background-color:#0;}
.sf-white.accent-2{background-color:#0;}
.sf-white.accent-3{background-color:#0;}
.sf-white.accent-4{background-color:#0;}
.sf-white.darken-1{background-color:#0;}
.sf-white.darken-2{background-color:#0;}
.sf-white.darken-3{background-color:#0;}
.sf-white.darken-4{background-color:#0;}
.sf-white.lighten-1{background-color:#0;}
.sf-white.lighten-2{background-color:#0;}
.sf-white.lighten-3{background-color:#0;}
.sf-white.lighten-4{background-color:#0;}
.sf-white.lighten-5{background-color:#0;}
.sf-white{background-color:#ffffff;}

/*******************************************************************/
/* sf-yellow */
/*******************************************************************/

.sf-yellow-text.text-accent-1{color:#0;}
.sf-yellow-text.text-accent-2{color:#0;}
.sf-yellow-text.text-accent-3{color:#0;}
.sf-yellow-text.text-accent-4{color:#0;}
.sf-yellow-text.text-darken-1{color:#0;}
.sf-yellow-text.text-darken-2{color:#0;}
.sf-yellow-text.text-darken-3{color:#0;}
.sf-yellow-text.text-darken-4{color:#0;}
.sf-yellow-text.text-lighten-1{color:#0;}
.sf-yellow-text.text-lighten-2{color:#0;}
.sf-yellow-text.text-lighten-3{color:#0;}
.sf-yellow-text.text-lighten-4{color:#0;}
.sf-yellow-text.text-lighten-5{color:#0;}
.sf-yellow-text{color:#fdb924;}
.sf-yellow.accent-1{background-color:#0;}
.sf-yellow.accent-2{background-color:#0;}
.sf-yellow.accent-3{background-color:#0;}
.sf-yellow.accent-4{background-color:#0;}
.sf-yellow.darken-1{background-color:#0;}
.sf-yellow.darken-2{background-color:#0;}
.sf-yellow.darken-3{background-color:#0;}
.sf-yellow.darken-4{background-color:#0;}
.sf-yellow.lighten-1{background-color:#0;}
.sf-yellow.lighten-2{background-color:#0;}
.sf-yellow.lighten-3{background-color:#0;}
.sf-yellow.lighten-4{background-color:#0;}
.sf-yellow.lighten-5{background-color:#0;}
.sf-yellow{background-color:#fdb924;}